:root {
  --alt-a: limegreen;
  --alt-b: tomato;
  --alt-c: steelblue;
  --alt-d: blanchedalmond;
}

.quiz {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto min-content;
}

.quiz .quiz-question {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5ch 1ch;
}

.quiz .quiz-question [contenteditable] {
  flex-grow: 1;
  text-align: center;
  background-color: #fff2;
  padding: 0.5ch 1ch;
  margin: -0.5ch -1ch;
  word-break: break-all;
  word-wrap: break-word;
  max-width: 100%;
  flex-grow: 1;
}

.quiz .quiz-body {
  display: grid;
  grid-template-columns: 100px minmax(auto, 420px) 100px;
  margin: auto;
}

.quiz .quiz-figure {
  background-color: gray;
  width: calc(400px + 10px);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz .quiz-figure button {
  width: 100%;
  height: 100%;
}

.quiz .quiz-alternatives {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: minmax(auto, 200px) minmax(auto, 200px);
  grid-template-rows: minmax(100px, auto) minmax(100px, auto);
  grid-gap: 10px;
  margin: auto;
}

.quiz .quiz-alternative {
  padding: 0.5ch 1ch;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz .quiz-alternative [contenteditable] {
  width: 100%;
  text-align: center;
  background-color: #fff2;
  padding: 0.5ch 1ch;
  margin: -0.5ch -1ch;
  border: 1px inset #fff2;
}

.quiz .quiz-alternative:nth-child(1) {
  background-color: var(--alt-a)
}

.quiz .quiz-alternative:nth-child(2) {
  background-color: var(--alt-b)
}

.quiz .quiz-alternative:nth-child(3) {
  background-color: var(--alt-c)
}

.quiz .quiz-alternative:nth-child(4) {
  background-color: var(--alt-d)
}
