
.quiz-editor .quiz .quiz-figure button {
  width: 100%;
  height: 100%;
}

.quiz-editor .quiz .quiz-question [contenteditable] {
  border-bottom: 2px solid var(--theme-fg);
}

.quiz-editor .quiz .quiz-alternative {
  position: relative;
}
.quiz-editor .quiz .quiz-alternative input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
}

.quiz-editor .quiz-body {
  grid-template-columns: auto minmax(auto, 420px) auto;
}