
.hosting-quiz {
  padding:  2ch;
  margin:  0 auto;
  display: flex;
  flex-direction: column;
}

.hosting-quiz .participant-list {
  margin: 1ch 0;
}

.hosting-quiz .start-quiz, .hosting-quiz .continue-quiz {
  font-size: 2em;
  width: max-content;
  padding: 1ch;
}

.hosting-quiz .hosting-question {
  display: grid;
  grid-template-columns:  minmax(100px, min-content) max-content minmax(100px, min-content)
}

.hosting-quiz .hosting-question .quiz {
  grid-column: 2;
}
.hosting-quiz .hosting-question .continue-quiz {
  grid-row:  2;
  grid-column: 2;
  margin: 2ch auto;
}
.hosting-quiz .hosting-question .participant-list {
  grid-column: 3;
  height:  min-content;
  margin: auto;
}





@media  screen and (max-width: 600px) {
  .hosting-quiz .hosting-question {
    display: grid;
    grid-template-columns: auto;
  }
  .hosting-quiz .hosting-question .quiz {
    grid-column: unset;
  }
  .hosting-quiz .hosting-question .continue-quiz {
    grid-row:  unset;
    grid-column: unset;
  }
  .hosting-quiz .hosting-question .participant-list {
    grid-column: unset;
  }
}