

.make-view .local-section ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}
.make-view .local-section .quiz-name {
  margin-right: 10px;
  flex-grow: 1;
}
.make-view .local-section .quiz-info {
  margin-right: 10px;
  flex-basis:  150px;
}
.make-view .local-section button {
  margin-right: 10px;
}

.make-view > .section {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.make-view > .section:not(:first-child) {
  padding-top: 3em;
}

.make-view .section-header {
  border-bottom: var(--default-border);
}

.make-view .create-new-quiz {
  margin: 0 auto;
  padding: 0.5em 1em;
  font-size: 2em;
  border: var(--default-border);
  text-align: center;
  color: black;
  border-radius: 3px;
}
  

@media screen and (max-width: 800px) {
  .make-view {
    display: flex;
    flex-direction: column;
  }
}
