
.play-view .code-entry-input {
    display: flex;
    flex-direction: row;
}


.play-view .code-entry-input input:first-child {
    border-radius: 5px 0 0 5px;
    margin-left: 0;
}
.play-view .code-entry-input input:last-child {
    border-radius: 0 5px 5px 0;
    margin-right: 0;
}
.play-view .code-entry-input input {
    width: 100%;
    font-size: 3em;
    margin: 0 -1px;
    border: var(--default-border);
    text-align: center;
    color: black;
}

.play-view .code-entry-input input:nth-child(1){
    background-color: var(--theme-a-light);
}
.play-view .code-entry-input input:nth-child(2){
    background-color: var(--theme-b-light);
}
.play-view .code-entry-input input:nth-child(3){
    background-color: var(--theme-c-light);
}
.play-view .code-entry-input input:nth-child(4){
    background-color: var(--theme-d-light);
}


.play-view .entry-group.name input {
    width: 100%;
    font-size: 1.5em;
    margin: 0 -1px;
    border: var(--default-border);
    text-align: center;
    color: black;
    border: none;
    border-bottom: var(--default-border);
}


.play-view .play-button {
    margin: 0 auto;
    padding: 0.5em 1em;
    font-size: 3em;
    border: var(--default-border);
    text-align: center;
    color: black;
    border-radius: 3px;
}

.play-view .long-code-entry {
    position:  relative;
    border: var(--default-border);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin:  calc(0.5em + 1px) 0;
}

.play-view .long-code-entry input {
    font-size: 2em;
    margin: 0 -1px;
    border:  none;
    text-align: left;
    color: black;
    background-color: transparent;
}

.play-view .long-code-entry .background {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    border-radius: 5;
    z-index:  -1;
    opacity:  0.5;
}

.play-view .long-code-entry .background > div {
    flex-grow: 1;
}

.play-view .long-code-entry .background > div:nth-child(1){
    background-color: var(--theme-a-light);
}
.play-view .long-code-entry .background > div:nth-child(2){
    background-color: var(--theme-b-light);
}
.play-view .long-code-entry .background > div:nth-child(3){
    background-color: var(--theme-c-light);
}
.play-view .long-code-entry .background > div:nth-child(4){
    background-color: var(--theme-d-light);
}