
.view-view .section-header {
  max-width:  600px;
  width: 100%;
  margin:  0 auto;
  border-bottom: var(--default-border);
  display:  flex;
  align-items: center;
  margin-bottom:  2em;
}

.view-view .section-header h3 {
  flex-grow:  1;
}
.view-view .section-header .button-link {
  margin-right: 10px;
}

.view-view hr {
  max-width:  800px;
  width:  100%;
  margin: 3em auto;
}

.view-view button {
  width:  auto;
  margin: auto;
}