:root {
  --theme-bg: white;
  --theme-mg: gray;
  --theme-fg: black;
  --theme-bg-off: #eee;
  
  --theme-a: #00c3ff;
  --theme-b: #50dd3e;
  --theme-c: #de890a;
  --theme-d: #e30942;
  --theme-a-light: #a1e9ff;
  --theme-b-light: #bef2b8;
  --theme-c-light: #f2d3a4;
  --theme-d-light: #f5a4b9;
  --theme-a-dark: #007599;
  --theme-b-dark: #308525;
  --theme-c-dark: #865205;
  --theme-d-dark: #880528;
  
  --theme-correct: #00ff00;
  --theme-incorrect: #ff0000;

  --theme-btn: rgb(233, 233, 237);
  --theme-btn-light: rgb(243, 243, 247);
  --theme-btn-dark: rgb(208, 208, 215);

  --default-border: 2px solid black;
}

.button-link {
  color: inherit;
  text-decoration: none;
  padding:  4px;
}

.button-link,
button {
  background-color: var(--theme-btn);
  border: var(--default-border);
  cursor: pointeR;
}

.button-link:hover,
button:hover {
  background-color: var(--theme-btn-light);
}

.button-link:active,
button:active {
  background-color: var(--theme-btn-dark);
}



body {
  margin: 0;
  background-color: var(--theme-bg);
  font-family: "Fira Sans";
  font-weight: 400;
  color: var(--theme-fg);
  background-color:  var(--theme-bg);
}

.app {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content minmax(300px, auto);
  min-height: 100vh;
}

.app-main {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.app-footer {
  margin: auto;
  text-align: center;
  padding: 1ch;
  margin-top: 3em;
}

.app-footer .logo {
  width: 3em;
  height: 3em;
}

.app-header {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
.app-header .app-logo {
  width: 128px;
  height: 128px;
  font-size: 2em;
  margin: 0 10px;
}
.app-header .app-logo .logo {
  width: 100%;
  height: 100%;
}
.app-header .new-version {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}
.app-header .title {
  font-size: 2em;
  font-weight: 300;
  margin: 0 10px;
}
.app-header .title-link {
  text-decoration: none;
  color: inherit;
}
.app-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 512px;
  width: calc(100% - 4em);
  margin: auto;
  padding: 0 2em;
}
.app-nav .nav-link {
  border: none;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  margin: 0.5em;
  text-decoration: none;
}
.app-nav .nav-link:hover {
  text-decoration: underline;
}


@media  screen and (max-width: 800px) {
  .app-header {
    flex-wrap: wrap;
  }
}



body[data-zen] .app-header,
body[data-zen] .app-footer {
  display:  none;
}
body[data-zen] .app {
  display: block;
}